#sectionSelector {
    font-size: 150%;
    padding: 10px;
    border: none;
    background-color: #000f11;
    color: #ebe9fc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
}

#sectionSelector:hover {
    background-color: #000f11;
}

#sectionSelector option {
    background-color: #000f11;
}

#sectionSelector option:hover {
    background-color: red !important;
}

section {
    display: none;
    text-align: left;
    margin-bottom: 40px;
    padding: 20px;
    gap: 2rem;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #374225;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2 {
    color: #66fcf1;
    font-size: 24px;
    margin-bottom: 10px;
}

section p {
    width: 60%;
    color: #c5c6c7;
    font-size: 1.15em;
    line-height: 1.6;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 40vh;
}

h2 {
    color: #46c4bc;
}